*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Fira Code", monospace;

$bg-color: #181f1c;
$primary-color: #274029;
$blue: #6c63ff;
$link-color: #60712f;
$hover-color: #9ea93f;

$white: #fff;
$black: #000;
$b: #000;

// mixins
@mixin sub-heading {
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 45px;
  text-transform: uppercase;
  font-family: $secondary-font;
  word-spacing: -0.2em;

  &::after {
    content: "";
    display: block;
    width: 100%;
    max-width: 150px;
    height: 7px;
    margin: 20px auto;
    background: $hover-color;
  }

  @media screen and (max-width: 1280px) {
    font-size: 40px;
  }

  @media screen and (max-width: 740px) {
    font-size: 35px;
  }

  @media screen and (max-width: 480px) {
    font-size: 26px;
  }

  @media screen and (max-width: 420px) {
    font-size: 25px;
  }
}

@mixin wrapper {
  margin: 0 5%;
}

// start
html {
  scroll-behavior: smooth;
  scrollbar-color: $bg-color $black;
}

body {
  position: relative;
  min-width: 350px;
  max-width: 2000px;
  max-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: $secondary-font;
  letter-spacing: 0.03em;
  color: $white;
  overflow-x: hidden;
}

a {
  text-underline-position: under;
}

img {
  display: block;
  max-width: 100%;
}

// Buttons
.button-cta {
  display: block;
  text-decoration: none;
  width: 100%;
  max-width: 230px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: $white;
  border-radius: 3px;
  outline: 2.5px solid $hover-color;
  outline-offset: -2.5px;
  margin-left: 10%;
  margin-top: 30px;
  transition: all 0.3s ease;

  @media screen and (max-width: 1280px) {
    margin-left: 0;
    margin-top: 0;
  }

  &:hover {
    background: $b;
    outline-color: $link-color;
  }
}

// Navigation
nav {
  position: absolute;
  right: 20px;
  top: 35px;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 1500px) {
    top: 20px;
    right: 0;
  }

  // Logo
  .logo {
    margin-right: auto;
    margin-left: 6.5%;

    @media screen and (max-width: 480px) {
      padding-left: 15px;
    }

    a {
      position: relative;
      display: block;

      img {
        display: block;
        width: 100%;
        max-width: 50px;
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }

  // Nav Lists
  ul {
    list-style: none;
    display: flex;

    @media screen and (max-width: 1000px) {
      display: none;
    }

    li {
      margin: 20px 35px;

      a {
        text-decoration: none;
        color: $white;
        font-size: 20px;
        padding: 5px;
        font-family: $secondary-font;
        transition: all 0.3s ease;

        &:hover {
          color: $hover-color;
          text-decoration: underline $hover-color;
        }
      }

      &:hover {
        ~ .cursor {
          width: 55px;
          height: 55px;
          border-color: orangered;
        }
      }
    }
  }
}

// Social Wrap
.socialWrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 25px;

  a {
    display: block;
    margin: 0 15px;
    transition: all 0.3s ease;

    i {
      display: block;
      color: $white;
      font-size: 26px;
      transition: all 0.3s ease;
    }

    &:hover {
      i {
        color: $hover-color;
      }
    }
  }
}

// Header section
.headerSection {
  position: relative;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1280px) {
    display: block;
    height: auto;
  }

  // Layout
  .hero-wrapper,
  .hero-illustration {
    position: relative;
    z-index: 1;
    width: calc(100% / 2);

    @media screen and (max-width: 1280px) {
      width: 100%;
    }
  }

  // Video
  .heroVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.2);
  }

  // Headline
  .hero-wrapper {
    position: relative;
    z-index: 9;

    @media screen and (max-width: 1280px) {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
    }

    .hero-heading {
      padding-left: 10%;
      margin-top: -5vw;

      @media screen and (max-width: 1280px) {
        margin-top: 0;
        padding: 25px 25px 20px;
        text-align: center;
      }

      &_first {
        font-size: clamp(32px, 3.385vw, 65px);
        font-weight: bold;
        line-height: 1.3;

        small {
          font-size: 18px;
          display: block;
          font-weight: 400;
        }
      }

      &_second {
        margin-bottom: 5px;
      }

      &_second,
      &_des {
        display: block;
        font-weight: 400;
        font-family: $secondary-font;
        font-size: 18px;
        line-height: 1.7;

        @media screen and (max-width: 640px) {
          font-size: 15px;
        }

        @media screen and (max-width: 480px) {
          font-size: 14px;
        }

        a {
          color: $hover-color;
          text-underline-position: under;
          transition: all 0.3s ease;

          &:hover {
            color: $link-color;
          }
        }
      }
    }
  }

  // svg
  .hero-illustration {
    svg {
      max-width: 100%;
    }

    @media screen and (max-width: 1280px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 480px) {
      margin-top: -20%;
    }
  }

  // wave
  .wave {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100%;
    z-index: -1;
    fill: $bg-color;
  }
}

// Porfolio Section
.portfolioSection {
  padding: 100px 0;
  background: #121212;

  h2 {
    @include sub-heading;
  }

  //inner wrap
  .inner-wrap {
    @include wrapper;
  }
}

// Projects Grid
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px -5px;

  // project
  .project {
    position: relative;
    width: calc(100% / 4 - 10px);
    margin: 0 5px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;

    @media screen and (max-width: 1500px) {
      width: calc(100% / 3 - 10px);
    }

    @media screen and (max-width: 1100px) {
      width: calc(100% / 2 - 10px);
    }

    @media screen and (max-width: 740px) {
      width: calc(100% / 2 - 10px);
    }

    @media screen and (max-width: 480px) {
      width: calc(100% - 10px);
    }

    .image-wrap {
      position: relative;
      width: 100%;
      height: 100%;
      max-height: 220px;
      overflow: hidden;
      border-radius: 3px;
      overflow: hidden;

      @media screen and (max-width: 640px) {
        max-height: auto;
      }

      &.react {
        &:after {
          content: "Personal Project";
        }
      }

      &::after {
        content: "Designed by iNET-Web";
        font-family: inherit;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;
        padding: 3px 7px;
        font-size: 10px;
        font-weight: 400;
        color: $white;
        line-height: 1;
        letter-spacing: 0.01em;
        border-top-left-radius: 3px;
        background: $hover-color;
      }

      img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        transition: all 0.3s ease;
      }
    }

    span {
      display: block;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: $white;
      padding: 10px 0;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: all 0.3s ease;

      @media screen and (max-width: 1500px) {
        font-size: 15px;
      }

      @media screen and (max-width: 1320px) {
        font-size: 14px;
      }
    }

    // hover
    &:hover {
      .image-wrap img {
        opacity: 0.8;
      }

      span {
        color: $hover-color;
        text-decoration: underline $hover-color;
      }
    }
  }
}

// Porfolio Section
.contactSection {
  padding: 100px 25px;
  text-align: center;
  background: $bg-color;

  h2 {
    @include sub-heading;
  }

  p {
    margin-block: 1em;
    line-height: 1.7;
    font-size: 18px;
    padding-top: 10px;

    @media screen and (max-width: 740px) {
      font-size: 16px;
    }

    @media screen and (max-width: 480px) {
      font-size: 14px;
    }
  }

  .mail i {
    display: inline-block;
    margin-top: 10px;
    font-size: 50px;
    color: $white;
    transition: all 0.3s ease;

    &:hover {
      color: $hover-color;
    }
  }
}

// Footer
footer {
  width: 100%;
  text-align: center;
  font-size: 16px;
  background: #121212;
  padding: 20px 0;
  color: $white;

  i {
    margin-right: 10px;
    color: #ff0000;
    animation: heartbeat 0.7s ease-in infinite;
  }
}

// Custom cursor
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  pointer-events: none;
  border: 2px solid transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition:
    width 0.2s,
    height 0.2s;
}

// Keyframes
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1.3);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
