---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/HomeHero.astro';
import Project from '../components/Project.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Saw Phaung: Front End Developer">
    <Hero />
	<main>
        <Project />
	</main>

    <Contact />

    
</Layout>


