

    <section id="Contact" class="contactSection">
        <h2>Contact</h2>

        <p>Want to say 'hello' or have a question! Email me at sawshanphaung@icloud.com. <br> My inbox is always open.</p>

        <div>
            <a class="mail" href="mailto:sawshanphaung@icloud.com"><i class="far fa-envelope-open"></i></a>
        </div>

    </section>