    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="#Projects">Projects</a></li>
            <li><a href="#Contact">Contact</a></li>
            <div class="cursor"></div>
        </ul>

        <div class="socialWrap">

            <a target="_blank" href="https://github.com/sawphaung"><i class="fab fa-github-square"></i></a>

            <a target="_blank" href="https://www.linkedin.com/in/sawphaung/"><i class="fab fa-linkedin"></i></a>

        </div>
    </nav>
