---
  import Card from "./Card.astro";
  
---

<section id="Projects" class="portfolioSection">

    <h2>Recent Projects</h2>

        <div class="inner-wrap">
            <div class="projects">
                <Card
                    href="https://wsc.inetwd.com/"
                    imagePath="/src/assets/WSC.png"
                    name="Waukesha SportsCard"
                />

                <Card
                    href="https://www.roofedright.com/"
                    imagePath="/src/assets/roofedRight.png"
                    name="Roofed Right America"
                />

                <Card
                    href="https://www.ramtoolinc.com/"
                    imagePath="/src/assets/ram-tool.png"
                    name="Ram Tool, Inc."
                />

                <Card
                    href="https://www.carismacustoms.com/"
                    imagePath="/src/assets/carisma-custom.png"
                    name="Carisma Customs"
                />

                <Card
                    href="https://www.asi365.net/"
                    imagePath="/src/assets/asi365.png"
                    name="Area Septic Installation"
                />

                <Card
                    href="https://www.leaffilterwi.com/"
                    imagePath="/src/assets/leafFilter.png"
                    name="Leaf Filter WI"
                />

                <Card
                    href="https://www.weatherproexteriors.com/"
                    imagePath="/src/assets/weatherPro.png"
                    name="WeatherPro Exteriors"
                />

                <Card
                    href="https://www.inertialelectric.com/"
                    imagePath="/src/assets/inertial.png"
                    name="Inertial Electric"
                />

                <Card
                    href="https://www.winfamdental.com/"
                    imagePath="/src/assets/windsorfamilydental.png"
                    name="Windsor Family Dental"
                />

                 <Card
                    href="https://www.lisbonstorm.com/"
                    imagePath="/src/assets/lisbonstorm.png"
                    name="Lisbon Storm"
                />

                <Card
                    href="https://www.freightbillauditor.com/"
                    imagePath="/src/assets/FreightBillAuditing.png"
                    name="Goodman Reichwald-Dodge Inc."
                />

                <Card
                    href="https://www.alternativemachinetool.com/"
                    imagePath="/src/assets/AMT.png"
                    name="Alternative Machine Tool"
                />


            </div>
        </div>

</section>

