#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 9998;
}

.social-media {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 20px;
  z-index: 9999;

  a {
    color: #dbdbdb;
    font-size: 3rem;
    transition: all 0.3s ease;

    i {
      transition: all 0.3s ease;
    }

    &:hover {
      color: #6c63ff;
      transform: scale(1.05);
    }
  }
}

header {
  position: relative;
  height: 70rem;
  display: flex;
  align-items: center;
  padding: 0 10rem;

  & > div {
    width: 50%;
  }

  @include respond(tab-land) {
    padding: 0 3.5rem;
  }

  @include respond(tab-port) {
    display: block;
    padding: 0 2rem;

    & > div {
      width: 100%;
    }
  }

  @include respond(phone) {
    height: auto;
    padding: 3rem 0;
  }
}

.hero {
  display: block;

  &_heading {
    text-align: left;
    padding: 0 3rem 3rem 0;
    letter-spacing: 0.05em;

    &--primary {
      display: block;
      font-size: 7rem;
      color: #dbdbdb;
      margin-left: -5px;
      line-height: 1.2;
      padding: 2rem 0;
    }

    &--sub,
    &--intro {
      font-weight: 700;
      font-size: 2.2rem;
      color: #b5b5b5;
      display: block;
    }

    @media screen and (max-width: 1500px) {
      &--primary {
        font-size: 5rem;
      }
    }

    @include respond(tab-land) {
      &--primary {
        font-size: 4.5rem;
      }
    }

    @include respond(tab-port) {
      padding: 3rem;

      &--primary {
        font-size: 3.5rem;
      }

      &--sub,
      &--intro {
        font-size: 1.8rem;
      }
    }

    @include respond(phone) {
      &--primary {
        font-size: 3.5rem;
      }

      &--sub,
      &--intro {
        font-size: 1.7rem;
      }
    }
  }

  &_illustration {
    display: flex;
    align-items: center;

    img {
      width: 75%;
      max-width: 40rem;
      margin: 0 auto;
    }

    @include respond(tab-port) {
      height: 65%;
    }
  }
}

.btn-contact {
  position: relative;
  text-decoration: none;
  color: #dbdbdb;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  max-width: 15rem;
  border: 1px solid #b5b5b5;
  padding: 12px 30px;
  border-radius: 5px;
  z-index: 9999999;
  transition: all 0.25s ease;

  @include respond(tab-port) {
    margin: 3rem;
  }

  &:hover {
    border-color: #5ea3e4;
    color: #fff;
  }
}
