// .hero-video {
//   position: fixed;
//   z-index: -1;
//   opacity: 0.7;

//   @include respond(tab-port) {
//     display: none;
//   }
// }

// @media (min-aspect-ratio: 16/9) {
//   .hero-video {
//     width: 100%;
//     height: auto;
//   }
// }

// @media (max-aspect-ratio: 16/9) {
//   .hero-video {
//     width: auto;
//     height: 100%;
//   }
// }

header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #faf7ff;
  padding: 0 10rem;

  & > div {
    width: 50%;
  }

  @include respond(tab-land) {
    flex-direction: column;
    padding: 5rem 2rem 0;

    & > div {
      width: 100%;
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  &_heading {
    text-align: left;
    padding: 0 3rem;

    &--primary {
      display: block;
      font-size: 7rem;
      color: #2e2d41;
      margin-left: -5px;
      line-height: 1;
      padding: 2rem 0;
    }

    &--sub,
    &--intro {
      font-weight: 700;
      font-size: 2.2rem;
      color: #3f3c56;
    }

    @include respond(tab-port) {
      padding: 3rem;

      &--primary {
        font-size: 5rem;
      }

      &--sub,
      &--intro {
        font-size: 1.8rem;
      }
    }

    @include respond(phone) {
      padding: 3rem;

      &--primary {
        font-size: 3.5rem;
      }

      &--sub,
      &--intro {
        font-size: 1.7rem;
      }
    }
  }

  &_illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      width: 100%;
      max-width: 45rem;
    }
  }
}

.next_button {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 2%;

  .icon {
    font-size: 3.5rem;
    color: #2e2d41;
    animation: scrolldown 1.5s ease-in-out infinite;
  }
}

@keyframes scrolldown {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 10px);
  }
  40% {
    transform: translate(0, 0);
  }
}
