.hero-video {
  position: fixed;
  z-index: -1;
  opacity: 0.5;

  @include respond(tab-port) {
    display: none;
  }
}

@media (min-aspect-ratio: 16/9) {
  .hero-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .hero-video {
    width: auto;
    height: 100%;
  }
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include respond(tab-port) {
    z-index: -1;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  }

  &_heading {
    text-align: left;

    &--primary {
      display: block;
      font-size: 10rem;
      color: $heading-color;

      font-family: 'Merienda', cursive;
    }

    &--sub,
    &--intro {
      font-weight: 500;
      font-size: 3rem;
    }

    @include respond(tab-port) {
      &--primary {
        font-size: 8rem;
      }

      &--sub,
      &--intro {
        font-size: 2.5rem;
      }
    }

    @include respond(phone) {
      padding-left: 1rem;

      &--primary {
        font-size: 5rem;
      }

      &--sub,
      &--intro {
        font-size: 2rem;
      }
    }
  }
}

.next_button {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 2%;

  .icon {
    font-size: 3.5rem;
    color: #c40b13;
    animation: scrolldown 2s ease-in-out infinite;
  }
}

@keyframes scrolldown {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 10px);
  }
  40% {
    transform: translate(0, 0);
  }
}
