.contact {
  padding: 10rem 0;
  text-align: center;
  background-color: $white;

  .section-heading {
    text-align: center;
    font-size: 6rem;
    color: $heading-color;
    font-weight: bold;
  }

  p {
    font-size: 2rem;
  }

  a {
    color: $icon-color;
    cursor: pointer;
  }

  i {
    margin-top: 5rem;
    font-size: 5rem;
  }

  @include respond(tab-port) {
    padding: 10rem 1.5rem;

    .section-heading {
      font-size: 4rem;
      padding-bottom: 1rem;
    }

    p {
      font-size: 2rem;
    }
  }

  @include respond(phone) {
    padding: 10rem 1rem;

    p {
      font-size: 1.6rem;
    }
  }
}
