.projects {
  padding: 5rem 0 2rem;
  background: #17181c;

  h2 {
    text-align: center;
    font-size: 6rem;
    color: #dbdbdb;
    font-weight: bold;

    @include respond(phone) {
      font-size: 4rem;
    }
  }

  .project {
    display: flex;
    margin: 10rem 5rem;
    padding: 5rem;
    letter-spacing: 1px;

    .img {
      width: 100%;
      margin: 0 auto;
      background-color: antiquewhite;
      flex: 1;

      img {
        max-width: 100%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
      }
    }

    .contents {
      flex: 1;
      margin: 0 5rem;

      &_heading {
        padding: 2rem 0;
        font-size: 3.5rem;
        text-align: left;
        font-weight: bolder;
      }

      &_description,
      &_tech {
        font-size: 1.8rem;
        padding-bottom: 1rem;
        color: #dbdbdb;
      }

      &_button {
        display: inline-block;
        outline: none;
        width: 100%;
        max-width: 15rem;
        background: #0a0a0a;
        border: 1px solid #b5b5b5;
        color: #b5b5b5;
        border-radius: 5px;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 12px 30px;
        margin: 15px auto;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          border-color: #5ea3e4;
          color: #fff;
        }
      }
    }

    @include respond(tab-land) {
      display: block;
      margin: 3rem 3rem;

      .contents {
        margin: 2rem 0;

        &_heading {
          font-size: 2.5rem;
        }

        &_description,
        &_tech {
          font-size: 1.6rem;
        }
      }
    }

    @include respond(phone) {
      margin: 3rem auto;
      padding: 2rem 2.5rem;
    }
  }

  .project-1 .img,
  .project-3 .img {
    order: 1;
  }
}
