.projects {
  padding: 20rem 0;
  background-color: #e7e9e6;

  h1 {
    text-align: center;
    font-size: 6rem;
    color: $heading-color;
    font-weight: bold;
  }

  p {
    text-align: center;
    font-size: 2rem;
  }
}
