.projects {
  padding: 5rem 0 2rem;
  background: #121212;

  h2 {
    text-align: center;
    font-size: 6rem;
    color: #dbdbdb;
    font-weight: bold;

    @include respond(phone) {
      font-size: 4rem;
    }
  }

  // Project
  .project {
    display: flex;
    margin: 5rem;
    padding: 5rem;
    letter-spacing: 1px;

    .img {
      position: relative;
      display: flex;
      align-items: flex-start;
      height: 100%;
      margin: 0 auto;
      background: #121212;
      flex: 1;

      span {
        display: inline-block;
        border-radius: 5px;
        font-size: 2.4rem;
        text-align: center;
        color: #dbdbdb;
        background: rgba(10, 10, 10, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: 0.25s ease;
        z-index: 9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        i {
          padding-left: 1rem;
        }
      }

      img {
        max-width: 100%;
        height: auto;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
      }

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
      }

      &:hover::before {
        background: rgba(10, 10, 10, 0.5);
      }

      &:hover span {
        opacity: 1;
        visibility: visible;
      }
    }

    .animateImg {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      height: 40rem;
      margin: 0 auto;
      animation: animateImage 100s linear infinite;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      text-decoration: none;
      transition: 0.25s ease;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
      }

      span {
        font-size: 2.4rem;
        border-radius: 5px;
        padding: 0 1rem;
        color: #dbdbdb;
        background: rgba(10, 10, 10, 1);
        opacity: 0;
        visibility: hidden;
        transition: 0.25s ease;
        z-index: 9;

        i {
          padding-left: 1rem;
        }
      }

      &:hover span {
        opacity: 1;
        visibility: visible;
      }

      &:hover,
      &:focus {
        animation-play-state: paused;
      }

      &:hover::before {
        background: rgba(10, 10, 10, 0.5);
      }

      @include respond(tab-port) {
        height: 35rem;
      }

      &-1 {
        background: url("/assets/img/CDMTool.jpg") no-repeat;
        background-size: cover;
      }

      &-2 {
        background: url("/assets/img/DornbrookConstruction.jpg") no-repeat;
        background-size: cover;
      }

      &-3 {
        background: url("/assets/img/ASP.jpg") no-repeat;
        background-size: cover;
      }
    }

    .contents {
      flex: 1;

      &_heading {
        position: relative;
        padding: 2rem 0 1rem;
        line-height: 1.5;
        font-size: 3.5rem;
        text-align: left;
        font-weight: bolder;

        &::after {
          content: "";
          display: block;
          width: 15rem;
          height: 0.7rem;
          margin: 0.5rem 0;
          background: #dbdbdb;
        }
      }

      &_description,
      &_tech {
        font-size: 1.8rem;
        padding-bottom: 1rem;
        color: #dbdbdb;

        span {
          display: block;
          font-size: 1.6rem;
        }
      }

      &_button {
        display: inline-block;
        outline: none;
        width: 100%;
        max-width: 15rem;
        background: #0a0a0a;
        border: 1px solid #b5b5b5;
        color: #b5b5b5;
        border-radius: 5px;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 12px 30px;
        margin: 15px auto;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          border-color: #5ea3e4;
          color: #fff;
        }
      }
    }

    &-1 .contents,
    &-3 .contents,
    &-5 .contents {
      margin-left: 5rem;
    }

    &-2 .animateImg,
    &-4 .animateImg {
      margin-left: 4rem;

      @include respond(tab-land) {
        margin-left: 0;
      }
    }

    @include respond(tab-land) {
      display: block;
      margin: 3rem 3rem;

      .contents {
        margin: 2rem 0;

        &_heading {
          font-size: 2.5rem;
        }

        &_description,
        &_tech {
          font-size: 1.6rem;
        }
      }
    }

    @include respond(phone) {
      margin: 3rem auto;
      padding: 2rem 2.5rem;
    }
  }

  .project-2 .animateImg,
  .project-4 .img {
    order: 1;
  }
}

@keyframes animateImage {
  0%,
  100% {
    background-position: top;
  }

  45%,
  55% {
    background-position: bottom;
  }
}

// New Projects Sections
.newProjects-wrapper {
  width: 100%;
  padding: 10rem 0;
  margin: auto;

  h2 {
    text-align: center;
    font-size: 6rem;
    color: #dbdbdb;
    font-weight: bold;
    margin-bottom: 20px;

    @include respond(phone) {
      font-size: 4rem;
    }
  }
}

// Project Layouts
.newProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > .project {
    display: block;
    position: relative;
    width: calc(100% / 3 - 30px);
    margin: 0 15px 30px;
    height: 262px;
    transition: all 0.3s ease;
    background: #0a0a0a;
    cursor: pointer;
    overflow: hidden;

    span {
      position: absolute;
      right: 0;
      bottom: 0;
      background: #333;
      color: #fff;
      font-size: 10px;
      padding: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transform: scale(0);
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease-in-out;
    }

    &:hover::after {
      transform: scale(1);
      opacity: 1;
    }

    @media screen and (max-width: 1380px) {
      width: calc(100% / 2 - 20px);
      margin: 0 10px 20px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 90%;
      margin: 0 auto 20px;
    }

    @media screen and (max-width: 520px) {
      height: 220px;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}
