.skills {
  padding: 1.5rem 0;
  background: #0a0a0a;

  @include respond(tab-port) {
    padding: 2rem 0;
  }

  .section-heading {
    text-align: center;
    font-size: 6rem;
    color: $heading-color;
    font-weight: bold;
  }

  &_icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #dbdbdb;
    padding: 2rem 0;

    & > span {
      width: calc(100% / 6);
      display: block;
      text-align: center;
      cursor: pointer;
      font-size: 1.6rem;
      transition: all 0.25s ease;

      @include respond(tab-port) {
        width: calc(100% / 3);
        margin-bottom: 20px;
      }

      @include respond(phone) {
        width: calc(100% / 2);
        font-size: 1.4rem;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .fab {
      display: block;
      text-align: center;
      font-size: 6rem;
      margin-bottom: 1rem;

      @include respond(phone) {
        font-size: 4rem;
      }
    }
  }
}
