---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/style.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body>
        <Header />
		<slot />
        <Footer />
	</body>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167047723-1"></script>

    <!-- gTag -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "UA-167047723-1");
    </script>

    <script>
        const mouse = document.querySelector(".cursor");
        document.addEventListener("mousemove", (e) => {
            mouse.style.left = e.pageX + "px";
            mouse.style.top = e.pageY + "px";
            // console.log(e.pageX);
        });
    </script>
</html>




